$cor-primaria: #37AB00;
$cor-fundo: #FBFEF4;
$cor-fundo2: #FFF;

$preto-transparente-30: #0000004D;
$preto-transparente-03: #00000008;
$preto-transparente-70: rgba(0, 0, 0, 0.7);

$branco: $cor-fundo2;

